{% extends "appfarm/base.html" %}
{% block content %}
<div class="row ">
    <div class="col-3">
        <h2>¿Quiénes Somos?</h2>
    </div>
</div>
</div>
<div class="parrafo">
    <p>Somos farmacia Te Lo Vendo S.A. una empresa familiar que se dedica a la venta de fármacos e insumos médicos por
        vía online.</p>
    <p>Fundados en el año 2010 por un grupo de alumnos del Insituto Awake Lab, este negocio se inicia siendo pioneros en
        el área online de ventas y distribuidores de remedios e insumos médicos, contando a la fecha con una vasta
        experiencia en el mercado nacional.
        Nuestra cartera de clientes esta conformada por personas naturales e importantes instituciones. A la fecha
        nuestras cualidades no han cambiado, pues mantenemos la atención y calidad en el servicio, ofreciendo día a día
        los nuevos productos de la industria e incorporando marcas nuevas al mercado.</p>
</div>
<div class="parrafo">
    <p>Nuestros valores se representan por:</p>
    <ul>
        <li>Excelencia</li>
        <li>Orientación al cliente</li>
        <li>Trabajo en equipo</li>
        <li>Honestidad</li>
        <li>Compromiso</li>
    </ul>
    <p>¿Requieres de nuestra ayuda? Contáctanos</p>
    <a href="./Ayuda.html" style="font-style: italic;">Ayuda</a>
</div><br>
{% endblock %}