{% extends 'appfarm/base.html' %}
{% load static%}

{% block titulo %} Lista de productos {% endblock %}

{% block content %}
<table id="example" class="table table-bordered" style="width:90%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        {% if productos %}
        {% for producto in productos %}
        <tr>
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.categoria    }}</td>       
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registro.</h1>
        {% endif %}
    </tbody>
        

</table>


{% endblock %}