{% extends 'appfarm/base.html' %}
{% load crispy_forms_tags %}

{% block titulo %} ¿Quiénes Somos? {% endblock %}

{% block content %}

<div class="container">

    <p>
    Somos farmacia Te Lo Vendo S.A. una empresa familiar que se dedica a la venta de fármacos e insumos médicos por vía online.

    Fundados en el año 2010 por un grupo de alumnos del Insituto Awake Lab, este negocio se inicia siendo pioneros en el área online de ventas y distribuidores de remedios e insumos médicos, contando a la fecha con una vasta experiencia en el mercado nacional. Nuestra cartera de clientes esta conformada por personas naturales e importantes instituciones. A la fecha nuestras cualidades no han cambiado, pues mantenemos la atención y calidad en el servicio, ofreciendo día a día los nuevos productos de la industria e incorporando marcas nuevas al mercado.

    Nuestros valores se representan por:

    Excelencia
    Orientación al cliente
    Trabajo en equipo
    Honestidad
    Compromiso
    ¿Requieres de nuestra ayuda? Contáctanos
    </p>
    

</div>

{% endblock %}